/* 登录&注册页复用的CSS */

body {
  /* 设置整个背景颜色为浅灰色 */
  background-color: #f1f1f1;
}

/* 调入首页的链接 */
.home_href {
  /* 设置元素的定位类型为：绝对定位 */
  position: absolute;
  /* 字体大小为 52像素 */
  font-size: 52px;
  /* 字体颜色为偏深一点的蓝色 */
  color: #006ed3;
  /* 设置字体为粗体 */
  font-weight: bolder;
  /* 不需要下划线 */
  text-decoration: none;
}

/* 登陆&注册块样式设置 */
.login_register_div {
  /* 设置宽度为400像素 */
  width: 400px;
  /* 高占块的100% */
  height: 100%;
  /* 设置外边距上下为0像素，外边距左右自适应浏览器边距居中 */
  /* 等价于 margin: 0 auto 0 auto */
  margin: 0 auto;
  /* 居中对齐弹性合的各项<div>元素 */
  display: flex;
  align-items: center;
}

/* 登陆&注册块内的表单样式设置 */
.login_register_div .login_register_form {
  /* 宽度占块的100% */
  width: 100%;
  /* 定义内边距上 右 下分别为：50像素 50像素 30像素 */
  padding: 50px 50px 30px;
  /* 定义背景颜色为纯白色 */
  background-color: #fff;
  /* 定义圆角边框为4像素 */
  border-radius: 4px;
}

/* 定义标题样式 */
.login_register_form .title {
  /* 设置字体大小为32像素 */
  font-size: 32px;
  /* 文字居中 */
  text-align: center;
  /* 字体颜色为浅蓝色 */
  color: #1890ff;
  /* 设置字体为粗体 */
  font-weight: bolder;
}

/* 登录&注册表单模块内的输入框样式 */
.login_register_form input {
  /* 内边距上下 左右分别为10 10 */
  padding: 10px 10px;
  /* 输入框内字体大小限定为16像素 */
  font-size: 16px;
  /* 宽占块的100% */
  width: 100%;
  /* 设置边框属性为 1像素宽 实线 浅灰色 */
  border: 1px solid #d9d9d9;
  /* 设置输入框圆角边框为4像素 */
  border-radius: 4px;
}

/* 登录&注册表单模块异常提示文字样式 */
.login_register_form .error_tips {
  /* 提示文字颜色为红色 */
  color: #ff0000;
  /* 提示文字大小为14像素 */
  font-size: 14px;
  /* 内边距上 右 下分别设置为3 0 8像素 */
  padding: 3px 0px 8px;
}

.login_register_form .tips {
  /* 提示文字颜色为浅灰色 */
  color: #cecaca;
  /* 提示文字大小为14像素 */
  font-size: 14px;
  /* 内边距上 右 下分别设置为3 0 8像素 */
  padding: 3px 0px 8px;
}
/* 登录&注册表单模块链接样式 */
.login_register_form a {
  /* 字体颜色为蓝色 */
  color: #1890ff;
  /* 不需要下划线 */
  text-decoration: none;
  /* 向右侧浮动 */
  float: right;
}

/* 登陆按钮样式 */
.login_register_form button {
  /* 宽占块的100% */
  width: 100%;
  /* 高度为40像素 */
  height: 40px;
  /* 按钮字体大小为16像素 */
  font-size: 16px;
  /* 按钮字体颜色为白色 */
  color: #fff;
  /* 按钮背景颜色为蓝色 */
  background: #1890ff;
  /* 按钮边框颜色同样为蓝色 */
  border-color: #1890ff;
  /* 按钮圆角边框为4像素 */
  border-radius: 4px;
}
